
{% extends 'layout.html' %}
{% block body %}
    <h1 align="center">Let's get this <del>bread</del> jacket </h1>
    <h5 style="color:red" align="center">{{itemname}}</h5>
    <div class="login-page">
        <div class="form">
            <form action="/{{postname}}" method="post" class="login-form">
                <label class="question">Size</label><br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for size in sizes %}
                    <label class="btn btn-secondary active">
                        <input type="radio" name="size" value="{{size}}" autocomplete="off" checked>{{size.upper()}}
                    </label>
                    {% endfor %}
                </div><br /><br />
                <label class="question">Phone Number</label>
                <input type="tel" name="name" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                required placeholder="Use format: '9251231234'" />

                <br />
                <label class="question">Secret Password</label>
                <input name="password" type="password" placeholder="password" required />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="tablediv" align="center">
        <h3>Last In Stock</h3>
        <small><b style="color: green">Online Since:</b> February 26th, 2019</small>
        <hr width=30%>
        <table>
            <tr>
                {% for size in sizes %}
                <th>{{size.upper()}}</th>
                {% endfor %}
            </tr>
            {% for size in sizes %}
            <td><small>{{options[size]}}</small></td>
            {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}