
{% extends 'layout.html' %}
{% block body %}
    <h1 align="center">Let's get this <del>bread</del> jacket </h1>
    <div class="login-page">
        <div class="form">
            <form action="{{ url_for('corp') }}" method="post" class="login-form">
                <label class="question">Size</label><br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="size" value="s" autocomplete="off" checked>S
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="size" value="m" autocomplete="off">M
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="size" value="l" autocomplete="off">L
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="size" value="xl" autocomplete="off">XL
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="size" value="xxl" autocomplete="off">XXL
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="size" value="3xl" autocomplete="off">3XL
                    </label>
                </div><br /><br />
                <label class="question">Phone Number</label>
                <input type="text" name="name" placeholder="Use format: '9251231234'" />

                <br />
                <label class="question">Secret Password</label>
                <input name="password" type="password" placeholder="password" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="tablediv" align="center">
        <h3>Last In Stock</h3>
        <small><b style="color: green">Online Since:</b> February 26th, 2019</small>
        <hr width=30%>
        <table>
            <tr>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>XXL</th>
                <th>3XL</th>
            </tr>
            <td id="small"><small>{{small}}</small></td>
            <td id="medium"><small>{{med}}</small></td>
            <td id="large"><small>{{large}}</small></td>
            <td id="xlarge"><small>{{xl}}</small></td>
            <td id="xxlarge"><small>{{xxl}}</small></td>
            <td id="3xlarge"><small>{{threexl}}</small></td>
            </tr>
        </table>
    </div>
{% endblock %}